*{
  margin: 0;
  padding: 0;
}

@media (min-width: 1200px) {

  .container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
  }

  .info{
    padding-block-start: 200px;
  }

  .image{
    padding-block-start: 30px;
  }

  .info h1{
    font-size: 48px;
  }

  .nav-items{
    margin-inline-end: 3em;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
  }

  .container-2{
    inline-size: 410px;
    background-color: blue;
  }

  .info{
    inline-size: 410px;
  }

  .image{
    margin-block-start: 40px;
  }

  .open-slide{
    display: none;
  }

}

@media (max-width: 1199.0px) {

  .nav-items{
    display: none;
  }

  .open-slide{
    padding-inline-end: 20px;
  }

  .image{
    padding-inline-end: 10px;
  }

  .container-2{
    position: absolute;
    right: 27px;
    top: 580px;
    padding: 20px 30px;
    inline-size: 230px;
    background-color: #181719;
  }

  footer{
    margin-block-start: 125px;
  }

}

.side-nav{
  block-size: 100%;
  inline-size: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #181719;
  opacity: 0.9;
  overflow-x: hidden;
  padding-block-start: 90px;
  transition: 0.5s;
}

.side-nav a{
  font-family: 'Montserrat', sans-serif;
  display: block;
  text-align: center;
  margin-block-end: 50px;
}

  .info{
    margin: 40px 0px;
    font-family: 'Montserrat', sans-serif;
  }

  .container{
    margin-inline-start: 20px;
    margin-inline-end: 10px;
  }

header{
  display: flex;
  justify-content: space-between;
}

a{
    text-decoration: none;
    color: #FFFFFF;
}

a:hover{
  border-bottom: 2px #FFFFFF solid;
  padding-block-end: 5px;
}

body{
  background-color: #181719;
  color: #FFFFFF;
}

img{
  max-inline-size: 100%;
  block-size: auto;
}

.header{
  margin-block-start: 1em;
  margin-inline-start: 2em;
}

.header p{
  border: 1px #FFFFFF solid;
  padding: 5px;
  font-size: 14px;
  font-family: 'Crimson Pro', serif;
}

.info h1{
  font-family: 'Lora', serif;
  font-size: 36px;
  margin-block-end: 30px;
}

.info p{
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  margin-block-end: 2em;
}

.arrow{
  display: inline;
  padding-inline-start: 6px;
}

.image-2{
  border-radius: 100%;
}

.info-2{
  display: flex;
}

.info-2-desc{
  font-family: 'Montserrat', sans-serif;
  padding-inline-start: 15px;
  padding-block-start: 8px;
  Line height: 17.07px;
}

.info-2-desc h3{
  font-size: 14px;
}

.info-2-desc p{
  font-size: 12px;
}

.info-3{
  font-family: 'Lora', serif;
  padding-block-start: 7px;
}

footer{
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}
